

.flex{
    max-width: 300px;
    padding: 10px;
    border: 2px solid black;
    display: flex;
}

.item{
    background: aqua;
    margin: 5px;
}

.flex-container{
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    border: 5px solid black;
    background: rgb(196, 194, 194);
}

.flex-item{
    background: blue;
    height: 50px;
    width: 50px;
    line-height: 50px;
    font-size: 20px;
    color: aliceblue;
    text-align: center;
    margin: 5px;
}

.row{
    flex-direction: row;
}

.row-reverse{
    flex-direction: row-reverse;
}

.row-reverse li{
    background: red;
}

.column{
    float: left;
    flex-direction: column ;
}

.column li{
    background: orange;
}

.column-reverse{
    float: right;
    flex-direction: column-reverse;
    margin-bottom: 40px;
}

.column-reverse li{
    background: black;
}

.alinhamento{
     text-align: end;
     margin-top: -60px;
}

.alinhamento2{
    width: 400px;
    
}